<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/minimal/0.3.0/minimal.css"> -->
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4440982006098227"
     crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <!-- Main Content -->
        <div>
            {{ content }}
        </div>

        <!-- Ad Block on the Right Side -->
        <div">
            {% include ads.html %}
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Nitesh Kumar. All rights reserved.</p>
    </footer>
</body>
</html>
